* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E59F71;
}

.bear-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.face {
    position: absolute;
    top: 20vmin;
    width: 60vmin;
    height: 50vmin;
    border-radius: 50% 50% 40% 40%;
    background: #4B4237;
}

.ears {
    width: 25vmin;
    height: 20vmin;
    background: #8D7C68;
    border-radius: 40%;
    border: 3vmin solid #4B4237;
}

#ear-left {
    position: relative;
    left: -20vmin;
    top: 20vmin;
}

#ear-right {
    position: relative;
    left: 20vmin;
    top: 0;
}

.eyebrows {
    width: 9vmin;
    height: 4vmin;
    background: #8D7C68;
    border-radius: 40%;
}

#eyebrow-left {
    position: relative;
    top: -7vmin;
    left: -11vmin;
    transform: rotateZ(170deg);
}

#eyebrow-right {
    position: relative;
    top: -3vmin;
    left: 11vmin;
    transform: rotateZ(-170deg);
}

.eyes {
    width: 4vmin;
    height: 6vmin;
    border-radius: 40%;
    background: #000;
    animation: blink 4s;
    animation-iteration-count: infinite;
}

#eye-left {
    position: relative;
    top: -10vmin;
    left: -10vmin;
}

#eye-right {
    position: relative;
    left: 10vmin;
    top: -4vmin;
}

.nose {
    position: relative;
    top: -9vmin;
    background: #000;
    width: 8vmin;
    height: 7vmin;
    border-radius: 50% 50% 30% 30%;
    z-index: 15;
}

.snout {
    position: relative;
    top: -14vmin;
    background: #E5E1DC;
    height: 14vmin;
    width: 30vmin;
    border-radius: 50%;
    z-index: 10;
}

#mouth-up {
    position: relative;
    top: -23vmin;
    background: #000;
    width: 1vmin;
    height: 4.5vmin;
    z-index: 13;
}

.mouth {
    position: relative;
    width: 10vmin;
    height: 8vmin;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 8px #000;
    z-index: 14;
}

#mouth-left {
    position: relative;
    top: -29vmin;
    left: -4vmin;
    transform: rotateY(-215deg)
}

#mouth-right {
    position: relative;
    top: -37vmin;
    left: 4vmin;
    transform: rotateY(215deg)
}

@keyframes blink {
    0%, 50%, 80% {
        background: linear-gradient(#000 100%, transparent 100%);
    }
    60%, 100% {
        background: linear-gradient(transparent 23%, #000 23%, transparent 30%);
    }
}






